footer a{
    text-decoration: none;
    color: black;
    opacity: .8;
}

@media screen and (max-width:600px) {
    
    .footer_main img{
        margin-left: 110px;
        /* display: flex !important;
        justify-content: center !important;
        align-items: center !important; */
    }

    .footer_p {
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /* padding-left: 205px; */
        /* text-align: -webkit-match-parent; */
        margin-bottom: 0;
    }

    .main_icon{
        margin-top: 20px;
        align-items: center !important;
        /* margin-left: 150px; */
    }
}